.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  @include mobile {
    margin-bottom: 20px;
    padding: 5px;
    height: 60px;
  }

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
    @include mobile {
      padding: 0;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include mobile {
      width: calc(100% - 50px);
    }

    .option {
      padding: 10px 15px;
      cursor: pointer;
      @include mobile {
        padding: 5px 7px;
      }
    }
  }
}
