.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 25px 20px;
  @include tablet {
    width: 100%;
    padding: 15px 10px;
  }
  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
